@import 'nib/vendor'

vendor-prefixes ?= moz webkit o ms official 


body
	max-width 1920px
	min-width 900px
	
header, footer
	background #3d434d
	
header
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	height 150px
	overflow hidden
	padding 1em
	position relative
	z-index 1
	
		
section 
	background #ebeced
	box-sizing border-box
	margin 1.5 auto
	height 400px
	width 100%
	max-width 1920px
	min-width 900px
	position relative
			
	
		
footer
	box-shadow 0 -5px 0 rgba(0,0,0,0.2)
	color white
	text-align center
	padding 1em
	position relative
	z-index 1
	
	h3
		font-size 1em

		strong
			font-size 14px
			display block
	
