<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Share my Position</title>
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/share_myposition.css">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% block head %}{% endblock %}

    </head>

    <body>
            
        <header>
             <div class="logo">
                <img src="imagenes/world.png" alt="Pul4" />
            </div>
            
            <div class="titular">
               
                <h1 class="titulo">
                    Share my Position
                </h1>
            </div>   
            {% block header %}{% endblock %} 
        </header>
          
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            <section>
                {% block content %}{% endblock %}
            </section>
            

        <footer>
            <h3>
                <strong>
                    Developed for José Alfredo Monroy
                </strong>
                <span>
                    (Freddy Monroy)
                </span>
            </h3>
        </footer>


        {% block scripts %}{% endblock %}

    </body>

</html>
